
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p class='copy-right'></p>
  </div>
</div>
</body>
<script type="text/javascript">
  const year = new Date().getFullYear();
  document.querySelector('.copy-right').innerHTML = `Copyright ${year}`
</script>
</html>
